# Python
__py# Logs
*.log
*.out
*.err

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv
venv/

# Node (caso tenha front futuro)
node_modules/
npm-debug.log
yarn-error.log

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log

# Docker
*.pid
*.tar
.dockerignore

# Kubernetes / Helm
charts/*.tgz

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Secrets
*.pem
*.key
*.crt
*.secret
*.env

