# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
*.env

# Logs
*.log

# Docker
*.pid
*.tar

# Terraform
*.tfstate
*.tfstate.*
crash.log
.terraform/
.terraform.lock.hcl

# Ansible
*.retry

# Kubernetes
*.crt
*.key
*.kubeconfig

# VSCode / IDE
.vscode/
.idea/

# macOS
.DS_Store

# Node (caso use futuramente)
node_modules/

